* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: url(../images/Stadium.webp) no-repeat center center/cover;
}

/* Premier Pair-Up landing page logo */
.hero {
    display: flex;
    position: absolute;
    top: 11%;
    left: 35%;

}

.logo {
    height: 350px;
    width: auto;
}

/* Signup and Signin Container */


.signup-container {
    display: flex;
    position: absolute;
    top: 52%;
    left: 42%;
}

.signin-container {
    display: flex;
    position: absolute;
    top: 56%;
    left: 40%;
}

.signin-form,
.signup-form {
    text-align: center;
}

.signin-form,
.signup-form h2 {
    color: #333;
}

.signin-form,
.signup-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.signin-form,
.signup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #070707;
}

.signin-form,
.signup-form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.signup-form input:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

/* Memory Game Cards for different leagues */

.memory-game {
    width: 640px;
    height: 740px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 30%;
    top: 13%;
    transform: scale(1);
    perspective: 1000px;
}

.crest-card {
    width: 24.3%;
    height: 24.3%;
    position: relative;
    margin: 2px;
    transition: transform .5s;
    transform-style: preserve-3d;
}

.crest-card:active {
    transform: scale(.96);
}

.crest-card.flip {
    transform: rotateY(180deg)
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 2px;
    border: 2px solid black;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

img {
    width: 100px;
}